<ul>
<% @pages.each do |page| %>
  <li>
  <%= link_to  page.permalink, page_path(page) %>
    [<%= link_to 'edit', edit_page_path(page) %>]
    |[<%= link_to 'delete', page_path(page), :method => :delete,:confirm => 'Are you sure ?' %>]
    : <%= page.title %>
  </li>
<% end %>
</ul>
<% if logged_in_user  and logged_in_user.has_role?('administrator') %>
<%= link_to  'Create New Page', new_page_path %>
<%end%>