<h2><%= image_tag "user1.jpg" %><%= @activity.owner %>---><%= @activity.title %></h2><br/>
<%= image_tag "photo-4.png", :weight => 500, :height => 350 %><br/><br/>
<%= @activity.description %><br/><br/>

<%= link_to "Edit activity", edit_activity_path(@activity)  %>
<br/><br/>


